extends layout

block content
  h1 Contact Me
  div(class='contact-div')
    |Contact me through this phone number
    br
    br
    |2892317753 
    br
    br 
    |or through email

    form(method='POST' action='' onsubmit='submitMsg()')
        div(class='form-group')
            label(for='fromEmail') From: 
            br
            input(type='email' name='fromEmail' id='fromEmail' required)
        div(class='form-group')
            label(for='password') Password: 
            br
            input(type='password' name='password' id='password' required)
        div(class='form-group')
            label(form='message') Message: 
            br
            textarea(name='message' id='message' required)
        input(type='submit' value='submit' name='btn-submit' class='btn-submit')
  
    |Only valid 
    strong GMAIL 
    |email account (YAHOO, AOL, Outlook, and etc. won't work) can email me.
    br
    |You have to allow 
    a(href='https://myaccount.google.com/lesssecureapps') less secure apps to access account
    |  setting in your google account.
    br
    |You need to make sure that 2 factor authentication for the account is disabled. 
    br
    |You can check how to disable it 
    a(href='https://support.google.com/accounts/answer/1064203') here.
    br
    |This solution was created by codtex in 
    a(href='https://stackoverflow.com/questions/45478293/username-and-password-not-accepted-when-using-nodemailer') Stack Overflow

  include footer