extends layout

block content
  h1= title
  p You can contact me through my phone number and email.
  // Creates underline decoration
  p(style='text-decoration: underline;') alucardmagbanua@gmail.com
  p(style='text-decoration: underline;') 289 231 7753

  include footer