//File Name: PersonalPortfolio
//Author's Name: Walter Magbanua
//Website Name: Web Portfolio
//Description: This website is a web portfolio and has 5 different pages (Home, About Me, Contact Me, Services, & Projects).

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
  body
    header
      
      div
        h2 Web Portfolio
      // Navigation bar
      ul
        li
          a(href='index')
            |Home
        li
          a(href= 'aboutme')
            |About Me
        li
          a(href= 'contact')
            |Contact Me
        li
          a(href= 'project')
            |Projects
        li
          a(href= 'service')
            |Services
    block content