extends layout

block content
  h1= title 
  p I did several projects at school. I made a website that contains Web and Browser API in it using JavaScript. 
  |I made a CMS Website in PHP. I made different types of websites for each courses at school in different types of programming languages.

  include footer